* {
  margin: 0px;
  font-family: 'montserrat';
}

body {
  background-color: #252525;
  background-image: -webkit-gradient(linear, right top, left top, from(#535660), color-stop(#3F4246), to(#535660));
  background-image: linear-gradient(to left, #535660, #3F4246, #535660);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #252525;
  padding-right: 5px;
}

header .navbar-brand {
  color: #F2ECFF !important;
  font-weight: 700 !important;
  font-size: 36px;
}

header .navbar-brand:hover {
  color: #FF00FF !important;
}

header .nav-link:hover {
  font-size: 103% !important;
  color: #FF00FF !important;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section h1 {
  text-align: center;
  color: #F2ECFF;
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 1%;
  padding-bottom: 1%;
}

section h5 {
  color: #F2ECFF !important;
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase !important;
}

section div img {
  width: 100%;
  height: 400px;
  overflow: hidden;
  width: 100%;
}

section #input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section #input .card {
  border: none;
}

section #input .card-body {
  background-color: #252525;
  color: #F2ECFF;
}

section #input .btn-primary {
  margin-top: 10px;
  font-family: 'inconsolata', monospace;
  background-color: #241823 !important;
  border: solid 0px;
  font-weight: 700;
  color: #FF00FF;
}

section #input .btn-primary:hover {
  color: #241823 !important;
  background-color: #FF00FF !important;
}

section #input .form-control {
  text-align: center;
  margin-top: 2%;
}

section #input .card-title {
  color: #FF00FF !important;
}

section #card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section #card .card {
  background-color: #252525;
  margin: 1%;
  text-align: center;
  border: solid 1px #FF00FF;
}

section #card .card .btn-primary {
  font-family: 'inconsolata', monospace;
  background-color: #241823 !important;
  border: solid 0px;
  font-weight: 700;
}

section #card .card .btn-primary:hover {
  color: #241823 !important;
  background-color: #FF00FF !important;
}

section #card .card .card-text {
  color: #8BF8B8 !important;
  background-color: #6E858B !important;
}

section #card .card .card-title {
  color: #8BF8B8 !important;
  background-color: #6E858B !important;
}

section #adding-html {
  background-color: #252525 !important;
  border: solid 1px #FF00FF !important;
  margin: 1%;
}

section #adding-html .accordion {
  margin-left: 5px;
  margin-right: 5px;
}

section #adding-html .accordion-button {
  background-color: #3F4246 !important;
  color: #F2ECFF !important;
  text-align: center !important;
}

section #adding-html .accordion-body {
  background-color: #252525 !important;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #252525;
  color: whitesmoke;
  padding: 10px;
  margin-top: 5px;
  text-align: center;
}

footer .fa-facebook-square {
  color: #FF00FF;
  font-size: 30px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 2px;
}

footer .fa-instagram {
  color: #FF00FF;
  font-size: 33px;
  margin-left: 3px;
  margin-right: 3px;
}

a {
  color: #FF00FF !important;
}
/*# sourceMappingURL=styles.css.map */